<header>
        <nav class="navbar navbar-expand-lg nav-color">
            <div class="container-fluid">
              <a class="navbar-brand" href="{{path("app_user_home")}}">
                <img src="{{asset('asset/logo/logo.svg')}}" alt="" width="30" height="24" class="logo">
              </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon navbar-toggler-color"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-lien" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Bonjour {% if app.user !=null %}{{app.user.firstname}} {{app.user.lastname}}{% endif %}</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="{{path("app_login")}}">Connection</a></li>
                      <li><a class="dropdown-item" href="{{path("app_logout")}}">Déconnection</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-lien" aria-current="page" href="{{path("app_user_home")}}">Mes expériences</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link nav-lien" aria-current="page" href="{{path("app_user_resto_address")}}">Les bonnes adresses</a>
                  </li>
                </ul>
               
            </div>
</header>
{#Ajout du flash message pour le client#}

{% for message in app.flashes('success-book') %}

    <div  class="alert alert-success">
        {{message}}
    </div>

{% endfor %}

{#Fin du flash message pour le client#}