{% extends 'base.html.twig' %}

{% block title %}Liste des établissements{% endblock %}

{% block body %}
    <h1>Liste de vos établissements</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                
            </tr>
        </thead>
        <tbody>
        {% for establishment in establishments %}
            <tr>
                
                <td>{{ establishment.name }}</td>
                <td>{{ establishment.address }}</td>
                
                <td>
                    <a href="{{ path('app_establishment_show', {'id': establishment.id}) }}">show</a>
                    <a href="{{ path('app_establishment_edit', {'id': establishment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_establishment_new') }}">Create new</a>
{% endblock %}
