{% extends 'base.html.twig' %}

{% block title %}Package index{% endblock %}

{% block body %}
    <h1>Package index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Picture</th>
                <th>Price</th>
                <th>Description</th>
                <th>Date</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for package in packages %}
            <tr>
                <td>{{ package.id }}</td>
                <td>{{ package.name }}</td>
                <td>{{ package.picture }}</td>
                <td>{{ package.price }}</td>
                <td>{{ package.description }}</td>
                <td>{{ package.date ? package.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ package.createdAt ? package.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ package.updatedAt ? package.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_package_show', {'id': package.id}) }}">show</a>
                    <a href="{{ path('app_package_edit', {'id': package.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_package_new') }}">Create new</a>
{% endblock %}
