<header>
   
              <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a href="{{path("app_user_home")}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                    <img src="{{asset('asset/logo/logo.svg')}}" alt="" width="30" height="24" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{path("app_admin_home")}}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{path("app_admin_pro_new")}}">Ajouter un prestataire</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{{path("app_admin_establishment_new")}}">Ajouter un établissement</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown">
                                    <span>Bonjour  {{app.user.firstname ?? "Mme/Mr"}} {{app.user.lastname}} </span>
                                    <i class="bi bi-person-square"></i>
                                </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{path("app_logout")}}">Déconnexion</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</header> 

{% for label, messages in app.flashes %}
    {% for message in messages %}

    <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endfor %}
{% endfor %}
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
