<header>
        <nav class="navbar navbar-expand-lg nav-color">
            <div class="container-fluid">
                <a href="{{path("app_pro_home")}}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                    <img src="{{asset('asset/logo/logo.svg')}}" alt="" width="30" height="24" class="logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent">
                    <span class="navbar-toggler-icon navbar-toggler-color"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item nav-space">
                            <a class="nav-lien active" href="{{path("app_pro_home")}}">Mes Packages</a>
                        </li>
                        <li class="nav-item nav-space">
                            <a class="nav-lien active" href="{{path("app_pro_reservations")}}">Mes réservations</a>
                        </li>
                        <li class="nav-item nav-space">
                            <a class="nav-lien active" href="{{path("app_pro_establishments")}}">Mes établissements</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-lien dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                                <span>Bonjour {{app.user.firstname ?? "Mme/Mr"}} {{app.user.lastname ?? " "}}</span>
                                <i class="bi bi-person-square"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{path("app_logout")}}">Déconnexion</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
</header>
    {% for label,flash in app.flashes %}
    
        {% for message in flash %}
            <div class="alert alert-{{label}} alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    {% endfor %}
