
{% extends 'Pro/base.html.twig' %}
{% block title %}Qualiextra Pro{% endblock %}
{% block body %}
{% include "Pro/partials/header.html.twig" %}
<div class='table table-hover mt-4'>

  <h1 class="title"> Gestion des réservations </h1>

  
    <div class="filter-list filtre">

			<a href="#toCkeckList" class="listLink home-btn home-from-center" >
				Réservations en attente
			</a>
			<a href="#validatedList" class="listLink home-btn home-from-center">
				Réservations validées
			</a>
			<a href="#cancelledList" class="listLink home-btn home-from-center">
				Réservations annulées
			</a>
			
	</div>

 <section class="list "id="toCkeckList">
 
	<h3 class='title-book'> # Réservations en attente</h3>
	
{% for establishment in listEstablishment %}
  {% if establishment.getPackages() is not empty %}
    
    <div class="bloc-establishment ">
        <h2 class="head-list-establishment title">Etablissement {{establishment.name}}</h2>
        {% for package in establishment.getPackages() %}
            {% if package.getBooks() is not empty %}
            <div>        
            <h4>Nom du package: {{package.name}}</h3>
            <table class="table toCheck">
            <thead>
                <tr>
                <th scope="col">Reservation Id</th>            
                <th scope="col">Client</th>
                <th scope="col">Date de reservation</th>
                <th></th>
                </tr>
                </tr>
            </thead>
            {% for book in package.books %}
            <tbody >
                <tr class='package-line' data-status={{book.status}}>
                
                <td>{{book.id}}</td>            
                <td>{{book.user.lastname}} </td>
                <td>{{package.price}}</td>
                <td class="bloc-icon-package">
                    <a href="{{path('app_pro_update_book_validated',{id:book.id})}}" class="btn btn-sm edit_btn" role="button"><i class="fa-solid fa-check"></i></a>
                    <a href="{{path('app_pro_update_book_cancelled',{id:book.id})}}" class="btn btn-sm delete_btn" role="button"><i class="fa-solid fa-ban"></i></a>
                </td>
                </tr>
            </tbody>
            {% endfor %}
            </table>
            </div>
           
            {% endif %}
         
        {% endfor %}
    </div>
  {% endif %}
{% endfor %}
</div>
</section>
<section class="list "id="validatedList">

    <h3> # Réservations validées</h3>

{% for establishment in listEstablishment %}
  {% if establishment.getPackages() is not empty%}
  
    <div class="bloc-establishment ">
        <h2 class="head-list-establishment title">Etablissement {{establishment.name}}</h2>
        {% for package in establishment.getPackages() %}
            {% if package.getBooks() is not empty %}
            <div class="bloc-package-name">        
            <h4>Nom du package: {{package.name}}</h3>
            <table class="table validated">
            <thead>
                <tr>
                <th scope="col" class="color-primaire">Reservation Id</th>            
                <th scope="col" class="color-primaire">Client</th>
                <th scope="col" class="color-primaire">Date de reservation</th>
                <th></th>
                </tr>
                </tr>
            </thead>
            {% for book in package.books %}
            <tbody >
                <tr class='package-line' data-status={{book.status}}>
                
                <td>{{book.id}}</td>            
                <td>{{book.user.lastname}} </td>
                <td>{{package.price}}</td>
                <td class="bloc-icon-package">
                   <i class="btn btn-sm edit_btn fa-solid fa-check"></i>
                    
                </td>
                </tr>
            </tbody>
            {% endfor %}
            </table>
            </div>
            
            {% endif %}
         
        {% endfor %}
    </div>
    
  {% endif %}
{% endfor %}
</div>
</section>
<section class="list "id="cancelledList">

 <h3> # Réservations annulées</h3>

{% for establishment in listEstablishment %}
  {% if establishment.getPackages() is not empty %}
    
    <div class="bloc-establishment ">
        <h2 class="head-list-establishment title">Etablissement {{establishment.name}}</h2>
        {% for package in establishment.getPackages() %}
            {% if package.getBooks() is not empty %}
            <div class="bloc-package-name">        
            <h4>Nom du package: {{package.name}}</h3>
            <table class="table validated">
            <thead>
                <tr>
                <th scope="col" class="color-primaire">Reservation Id</th>            
                <th scope="col" class="color-primaire">Client</th>
                <th scope="col" class="color-primaire">Date de reservation</th>
                <th></th>
                </tr>
                </tr>
            </thead>
            {% for book in package.books %}
            <tbody >
                <tr class='package-line' data-status={{book.status}}>
                
                <td>{{book.id}}</td>            
                <td>{{book.user.lastname}} </td>
                <td>{{package.price}}</td>
                <td class="bloc-icon-package">
                    <i class="btn btn-sm delete_btn fa-solid fa-ban"></i>
                    
                </td>
                </tr>
            </tbody>
            {% endfor %}
            </table>
            </div>
            
            {% endif %}
         
        {% endfor %}
    </div>
 
  {% endif %}
{% endfor %}
</div>
</section>
    {% block javascripts %}
		<script src="{{ asset('asset/js/reservations_list.js') }}"></script>
	{% endblock %}

    {% include "Pro/partials/footer.html.twig" %}
{% endblock %}



















