{% extends 'base.html.twig' %}

{% block title %} {{package.name}} {% endblock %}

{% block body %}
{% include "User/partials/header.html.twig" %}

{#Ajout du flash message pour le client#}

{% for message in app.flashes('success-book') %}

    <div  class="alert alert-success">
        {{message}}
    </div>

{% endfor %}

{#Fin du flash message pour le client#}


<main class="container-fluid row">

    <section class="wrap-img">
        
        <div class="col-sm-4 col-md-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.062338256993!2d2.3470435508708123!3d48.83794960999873!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671ec84e10bf1%3A0x32a625634401eeb7!2sH%C3%B4tel%20Monte%20Cristo%20Paris!5e0!3m2!1sfr!2sfr!4v1658297449813!5m2!1sfr!2sfr"
                width="550" height="350" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

        <div class="col-sm-4 col-md-6 container--img">
            <img src="{{package.picture}}"  alt="{{package.picture}}" class="package_picture">
        </div>

    </section>

    <div class="container--title_package">
        <h1>{{package.name}}</h1>
    </div>

    <section class="container--address row">

            <div class="container--description_package col-sm-4 col-md-4">
                <div class="description_package">
                    <h3>Description</h3>

                    <p >{{package.description}}</p>
                </div>

                <div class="validity_price">
                    <p>Valable jusqu'au : <span class="validity-span">{{package.date|date('d/m/Y')}}</span></p>
                    <p class="price">
                        {{package.price}} €
                        {# <img src="{{ asset('/asset/image-package/euro.png') }}" alt="price image">   #}
                    </p>
                </div>

            </div>

            <div class="container--address_package col-sm-4 col-md-4 ">
                <h3>Contacter l'établissement</h3>
                <div class="address_package--address">
                        <p>{{package.establishment.name}}</p> 
                        <p>{{package.establishment.address}}</p>
                        <p>Site web : {{package.establishment.website}}</p>
                        <a class="address_package--address button" href="mailto:{{package.establishment.email}}"><div class="button from-center">Nous contacter</div></a>
                </div>
            </div>
    </section>
    {% if is_granted('ROLE_USER') %}
    <section class="wrap-book">
    
    <form method="post" id="form-book">
        <div class="book-input">
            <label class="label-form-book" for="date">Votre date de réservation</label>
            <input type="date" class="form-control" required name="date" id="date" placeholder="date">
        </div>

        <a class="button from-center btnReservation" type="submit"> Réserver
        <input type="submit" class="hidde-btn-form"> </a>
    </form>
        
    </section>
    {% else %}

    <div class="bloc-login">
        <p class="bloc-message-book">Vous devez vous connecter pour pouvoir réserver</p>
        <a class="button from-center" href="{{path("app_login")}}">Se connecter</a>
    </div>
    {% endif %}


</main>
{% include "User/partials/footer.html.twig" %}
{% endblock %}
