{# <h1>Nouvelle réservation</h1>

<p>Nom : {{app.user.Lastname}}</p>
<p>e-mail : {{app.user.email}}</p>

<p>Prix du package  : {{book.price}}</p>

<p>Nom du package  : {{package.name}}</p>


<p>Date de réservation : {{book.date|date('d-m-Y')}}</p> #}