{% extends 'base.html.twig' %}

{% block title %}Qualiextra
{% endblock %}

{% block body %}

	{% include "User/partials/header.html.twig" %}

	<main id="toto" class="container-fluid">

		<h1 id="title"></h1>

		<div class="filtre-type filtre">

			{% for type in typeList %}

				<a href="#{{type.name|slug|lower}}" class="lien-type home-btn home-from-center">
					<div class="bloc-type ">
						<div class="icon-{{type.name|slug|lower}} bloc-icon"></div>
						{{type.name}}
					</div>
				</a>
			{% endfor %}

		</div>


		{% for type in typeList %}

			<section id="{{type.name|slug|lower}}" class="bloc-container  row">
				<h2 class="fixed-title">{{type.name|upper}}</h2>
				{% for package in type.getPackages() %}
					<div class="card col-xs-1 col-sm-2 col-md-3">
						<a href="{{path("app_user_package_show",{id:package.id})}}" class="">
							<img src="{{package.galleries[0].picture}}" class="card-img-top" alt="...">
						</a>

						<div class="card-body package-detail">
							<h5 class="">{{package.name}}</h5>
							<p class="">{{package.description}}</p>
						</div>
					</div>

				{% endfor %}

			</section>

		{% endfor %}


	</main>

	{% include "User/partials/footer.html.twig" %}

{% endblock %}
