{% extends 'base.html.twig' %}

{% block title %} {{package.name}} {% endblock %}

{% block body %}
{% include "User/partials/header.html.twig" %}

{#Ajout du flash message pour le client#}

{% for message in app.flashes('success-book') %}

    <div  class="alert alert-success">
        {{message}}
    </div>

{% endfor %}

{#Fin du flash message pour le client#}


<main class="container-fluid row">

    <section class="wrap-img d-flex">
        
        <div class="col-sm-4 col-md-6">
            <div id="map-establishment" class="map-package"></div>
        </div>

        <div class="col-sm-4 col-md-6 container--img">
            <img src="{{package.picture}}"  alt="{{package.picture}}" class="package_picture">
        </div>

    </section>

    <div class="container--title_package establishment"data-long="{{package.establishment.longitudes}}" data-lat="{{package.establishment.latitudes}}">
        <h1>{{package.name}}</h1>
    </div>

    <section class="container--address row">

            <div class="container--description_package col-sm-4 col-md-4">
                <div class="description_package">
                    <h3 class="title_h3">Description</h3>

                    <p >{{package.description}}</p>
                </div>

                <div class="validity_price">
                    <p class="col-sm-2">Valable jusqu'au : <span class="validity-span">{{package.date|date('d/m/Y')}}</span></p>
                    <p class="price col-sm-2">
                        {{package.price}} €
                        
                    </p>
                </div>
            </div>

            <div class="container--address_package col-sm-4 col-md-4 ">
                <h3 class="title_h3">Plus d'informations</h3>
                <div class="address_package--address">
                        <p>Vous souhaitez plus d'informations, envoyez-nous un mail</p> 

                    {# TODO: mettre l'adresse mail de l'admin Qualiextra   #}
                        <a class="address_package--address button" href="mailto:projet-qualiextra@gmail.com"><div class="button from-center">Nous contacter</div></a>
                </div>
            </div>
    </section>
    {% if is_granted('ROLE_USER') %}
    <section class="wrap-book row">
    
    <form class="col-12 col-md-12" method="post" id="form-book">
        <div class="book-input ">
            <label class="label-form-book" for="date">Votre date de réservation</label>
            <input type="date" class="form-control-package" required name="date" id="date" placeholder="date">
            <input type="hidden"  name="lastname" id="lastname" value="{{app.user.id}}">
            <input type="hidden"  name="email" id="email" value="{{app.user.email}}">
            <input type="hidden"  name="price" id="price" value="{{package.price}}">
        </div>

        <a class="button from-center" type="submit"> Réserver
        <input type="submit" class="hidde-btn-form "> </a>
    </form>
        
    </section>
    {% else %}

    <div class="bloc-login">
        <p class="bloc-message-book">Vous devez vous connecter pour pouvoir réserver</p>
        <a class="button from-center" href="{{path("app_login")}}">Se connecter</a>
    </div>
    {% endif %}


</main>
{% include "User/partials/footer.html.twig" %}
{% block javascripts %}
			
		<script src="{{ asset('asset/js/package.js') }}"></script>
	{% endblock %}
{% endblock %}
